*[b-awtnol7x0w] {
    box-sizing: border-box;
}


.rate-container[b-awtnol7x0w] {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

    .rate-container img[b-awtnol7x0w] {
        width: 150px;
        margin: 0 0.5rem;
    }

.car[b-awtnol7x0w] {
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    margin: 0.25rem;
    border-radius: 5px;
}

    .car img[b-awtnol7x0w] {
        max-width: 450px;
        border-radius: 5px 5px 0 0;
        margin-right: 1.5rem;
    }

.details[b-awtnol7x0w] {
    flex-grow: 1;
}

    .details .title[b-awtnol7x0w] {
        padding: 0.25rem;
    }

    .details .price[b-awtnol7x0w] {
        padding: 0.25rem;
        font-size: 1.1rem;
        color: red;
    }
