* {
    box-sizing: border-box;
}

.cars {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.car {
    box-shadow: 2px 2px 2px #ccc;
    max-width: 150px;
    margin: 0.25rem;
    border-radius: 5px;
    display: block;
}

.img {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.info {
    margin-top: auto;
}

.car .title {
    padding: 0.25rem;
    text-align: center;
    font-size: 1.2rem;
}

.car .brand {
    padding: 0.25rem;
    text-align: center
}

.car .price {
    padding: 0.25rem;
    text-align: center;
    font-size: 1.1rem;
    color: red;
}

.car .actions {
    padding: 0.25rem;
    display: flex;
}

.actions button {
    border: 0;
    flex-grow: 1;
    text-decoration: none !important;
}

.actions {
    display: flex;
}
